# scripts/.env.local.example — copy to .env.local and fill in
export TF_VAR_subscription_id="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
#export TF_VAR_client_ip="your.current.ip.here" ## This is already being picked up from the .last_known_ip file, so no need to set it here, adding note as a reminder
export TF_VAR_WinSer1_VM_admin_password="same-value-as-in-gh-secret"
export TF_VAR_pub_key="ssh-ed25519 AAAA... your-key-comment"